@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans+Condensed:300');

*, *:before, *:after {
  box-sizing: border-box;
}

html {
    font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
    
}

h1, h2, h3, h4 {
    font-family: 'Merriweather', Baskerville, Cooper,serif;
    
}



h1 {
    text-align: left;
    text-decoration: underline;
    padding-bottom: 20px;
   
    
}

html,body{
/*            background-color: #E8E4C7;*/
        }

body {
    
/*background-color: #E8E4C7;*/
;
}



/*
.jumbotron, .mainThings {
    background-color: #EFFFE7;
    
}
*/

.title {
/* float: right;*/
    font: bold; 1.68rem
}

.mainTitle {
    text-align: center;
/*    clear:left;*/
    
}

.hamburger {
    display: none;
    
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    font-size: .8125rem;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #000000;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 3px;
    color: #fff;
}


code, pre {
    padding: 0 3px 2px;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 12px;
    font-size: .75rem;
    color: #fff;
    border-radius: 3px;
}

.splash {

    width: 608px;;
    align-content: center;
    
    margin: 0 auto;
    display: block;
}

.splash1 {
    padding-top: 15vh;
    width: 608px;;
    align-content: center;
    padding: auto;
    margin: 0 auto;
    display: block;
}





/*    background-color: bisque;*/

/*
#mWeek2, #mWeek3, #mWeek4, #mWeek5, #mWeek6, #mWeek7, #mWeek8, #mWeek9, #mWeek10, #mWeek11, #mWeek12, #mWeek13, #mWeek14, #faWeek, #labs, #quizzes {
    display: none;
    
}
*/

/*
#mWeek1 {
    
    display:block;
}
*/

/*******************************
          MOBILE FIRST
*******************************/
@media (max-width: 575px) and (min-width: 1px){
     
.nav-item{
        display:none;
           
    }
    
       
    
    .navbar-toggle {
/*        float: right;*/
        
    }
    
}

@media (min-width: 578px){
    
    .navbar-brand {
        display:none;
    }    
    
    .boo {
        
        display:block;
    }
    
    .mainTitle {
        display: none;
        
    }
   

    
}

/*******************************
              FORM
*******************************/

.contact {
    padding-top: 15px;
    
}

form {
    display: center;
    
}

form .name {
    margin-bottom: 5px;
    
}

form .email {
    margin-bottom: 5px;
    
}

.location {
    margin-left: 10px;
    
}

/*******************************
              NAV
*******************************/
.navbar navbar-default, a {
    list-style: none;
    font: black;
/*    position: fixed;*/
   
    
    
}

.navbar navbar-default {
    list-style: none;
    font: black;
    position: fixed;
   
    
    
}

nav navbar-nav {
    font: bold 1.618rem #000000;
    position: fixed;
  
}



nav a,
nav a:link,
nav a:visited {

    font: regular 1.618rem black;
    
}

nav a:active,
nav a:focus,
nav a:hover {
    color: #000000;
    
}

[data-role="nav"] {
    position: fixed;
    z-index: 30;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: #ccc;
}



[data-role="page"] {
    width: 80%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 10;
    padding-bottom: 5rem;
    /* to match the height of the nav bar */
    padding-top: 5rem;
    /* leaving space for the heading */
}

[data-role="page"].active {
    display: block;
    z-index: 20;
}


#jumbo {
    
    text-align: center;
    padding-top: 10%;
    color: white;
    background-color: #000000;
}

#functionBlue {
    
    color: #6c9ef8;
}

#quoteOrange {
    
    color: #d89333 ;
}

/*******************************
              FOOTER
*******************************/
#footer {
    padding-top: 7.1rem;
    background-color: #7C593C;
    width: 100%;
    bottom: 0;
}

footer h4 {
  font-size: 1.414rem;
/*  padding: 0.5rem 2rem;*/
  color: #7C593C; }
footer p {
  font-size: 1rem;
/*  padding: 0.5rem 2rem;*/
  color: #222; }

footer .fa-circle {
  color: #222; }
   


#paragraphs {
    width: 80%;
    color: #000000;


}




