*,*:after,*:before {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}



body {
  background-color:cornsilk;
/*  color: #fff;*/
  font:12px/18px 'HelveticaNeue', Helvetica, Arial, sans-serif;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    
}

.splash {

    width: 608px;;
    align-content: center;
    
    margin: 0 auto;
    display: block;
}

.splash1 {
    padding-top: 15vh;
    width: 608px;;
    align-content: center;
    padding: auto;
    margin: 0 auto;
    display: block;
}




